.cell:hover {
    background-color: lightgray;
  }

#head {
    background-image: url('jeopardy.png');
    height: 195px;
    width: 500px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #cc0066;
    font-size: 18px;
   

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#submit {
    border: 2px solid;
    margin-bottom: 20px;
    width: 150px;
    height: 55px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#user-answer {
    background-color: #e0e0d1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 2px solid;
    height: 36px;
    width: 305px;
    margin-bottom: 15px;
}
#player {
    text-align: center; 
  
}
#player-score {
    margin-top: -20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* finally finished */